.home-section{
    padding-top: 100px;
}
.store-color{
    color: orangered;
}
.home-section h2{
    padding-bottom: 30px;
}
.home-section p{
    font-size: 20px;
}
.live-demo{
    margin-top: 80px;
    display: flex;
    align-items: start;
    background-color: orangered;
    width: 150px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;
}
.display-img img{
    width: 500px;
    padding-left: 50px;
    padding-top: 50px;
}
.all-review{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

  
}
.review{
    width: 100%;
    height: 200px;
    border: 1px solid gray;
    background-color: antiquewhite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.see-all-reaviews{
    padding-top: 20px;
    padding-bottom: 50px;
}